body {
	background: url(assets/polzeath.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;

	padding-top: 15%;
	font-family: Muli;
	color: #001a33;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
}

h1 {
	color: #fff9e6;
	font-size: 5em;
	font-weight: 700;
}

p {
	padding-bottom: 10px;
}

/* SOCIAL MEDIA LINKS */
.fa {
	font-size: 55px;
}
.col-sm-1 {
	text-align: right;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  cursor:
}
a:visited {
	color: inherit;
}


/* GRID DEBUGGING */
/*.row, .col-sm-1, .col-xs-12, .col-sm-11, .col-xs-2, .col-sm-12, .col-sm-0, .col-sx-6 {
	border: solid 1px red;
}*/