/* http://sixrevisions.com/css/responsive-background-image/ */

/* Structure */
html,
body,
.container {
  height: 100%;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

html,
body,
h1,
p,
a,
div,
section {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Full screen background */
body {
  background-image: url(../images/park.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #d2ddef;

  padding-top: 5%;
  font-family: Muli;
  color: #001a33;
}

/* Text */
h1 {
  color: #fff9e6;
  font-size: 5em;
  font-weight: 700;
}

p {
  padding-bottom: 10px;
  font-size: 1em;
}

.underline {
  text-decoration: underline;
}

.condition {
  font-size: 0.9em;
  color: #787878;
}

#customPrice {
  visibility: hidden;
  font-style: italic;
}

/* SOCIAL MEDIA LINKS */

.icons {
  text-align: right;
}
.icons img {
  height: 40px;
  margin-bottom: 4px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:visited {
  color: inherit;
}

/* Mobile */
@media only screen and (max-width: 800px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(../images/park-mobile.jpg);
  }
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 0.8em;
  }
  ul {
    font-size: 0.8em;
  }
  #customPrice {
    font-size: 0.8em;
  }
  .fa {
    font-size: 2em;
  }
}

@media only screen and (max-width: 800px) and (max-height: 400px) and (orientation: landscape) {
  body {
    padding-top: 0%;
    background-position: top;
  }
}

@media only screen and (max-width: 340px) {
  html,
  body,
  .container {
    height: auto;
  }
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 0.7em;
  }
  ul {
    font-size: 0.7em;
  }
  #customPrice {
    font-size: 0.7em;
  }
}

/* GRID DEBUGGING */
/*.row, .col-sm-1, .col-xs-12, .col-sm-11, .col-xs-2, .col-sm-12, .col-sm-0, .col-sx-6 {
  border: solid 1px red;
}*/
